nav li {
    display: inline-block;
    font-weight: 600;
}

nav a {
    display: inline-block;
    padding: .9rem;
    font-weight: 600;
}

.active{
    transition: color .6s;
    color: #F0A500;
}

.header__container {
    background-color:transparent;
    width: 100%;
    position: absolute;
    z-index: 10;
}

.header__container--scroll__animation {
    position: fixed;
    top: -100px;
    transform: translate(0 , 100px);
    transition: all .6s;
    background-color: #1B1A17;
}


.brand {
    font-size: 1.4em;
}

/*menu responsive css start */
#main-header__responsive {
    display: none;
}

.responsive__li {
    position: relative;
    display: flex;
    justify-content: center;
    transition: all .7s ease;
    flex-direction: row;

}
.padding-burguer {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px;
}

.main__responsive {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #1B1A17;
}

.main__responsive--scroll {
    position: fixed;
    top: -100px;
    transform: translate(0 , 100px);
    transition: all .6s;
    background-color: #1B1A17;
}


.show {
    height: 35px;
    width: 35px;
    background-color: #F0E3CA;
    -webkit-clip-path: polygon(0 0, 0 23%, 100% 22%, 100% 78%, 0 78%, 0 100%, 100% 100%, 100% 63%, 0 63%, 0 40%, 100% 40%, 100% 0);
    clip-path: polygon(0 0, 0 23%, 100% 22%, 100% 78%, 0 78%, 0 100%, 100% 100%, 100% 63%, 0 63%, 0 40%, 100% 40%, 100% 0);
    transition: all .6s ease;
}

.hidden {
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.hidden__menu {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   background-color: #1B1A17;
   z-index: 10;
   transition: transform .7s ease;
   top: -200px;
   transform: translate(0 , -100px);
   position: absolute;
}
.show__menu {
   transition: transform .6s ease;
   transform: translate(0 , 260px);
}

@media (max-width: 870px ) {
  #main-header__responsive {
    display: block;
  }

  .header__container {
    display: none;
  }
}

img {
    width: 200px;
    height: 200px;
}

