.div--skill__section {
    display: flex;
    justify-content: center;
}

.sectionSkills {
    position: relative;
}

.text__skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text__skills h6 {
    font-size: 1em;
    font-weight: 800;
}

.text__skills h6 span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(80, 80, 80, 0.3);
    height: 83%;
    padding: 2px 10px;
    font-weight: 300;
    
}

.icon-php {
    font-size: 1.3em;
}

.text__skills h6 {
    width: 100%;
}

.text__skills h6::before {
    content:"";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    background: rgba(80, 80, 80, 0.3);
}

.text__skills h6::after {
    box-shadow: 0px 0px 6px 0px #F0A500;
}

.marginIcon::after{
    content:"";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    background: #F0A500;
    left: 0;
}

 .icon-mysql {
    font-size: 35px;
    margin: -13px 0 0 -40px;
}

.glass_container2 {
    height: 100%;
    width: 100%;
    background: url(../assets/images/tableStudio.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.glass_container2::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(12, 5, 5, 0.85), rgba(5,7,12,0.85));
    position: absolute;
    top: 0%;
    z-index: -1;
}


.text__skills article h3 {
    width: 100%;
    text-align: center;
}


.text__skills article h3::after {
    width: 40%;
    left: 30%;
}

.text__skills {
    cursor: pointer;
}


.icon-circle-down {
    position: absolute;
    margin-top: 20px;
    transition: rotate .6s;
}

.text__animation {
    transition: max-height .8s;
    max-height: 0px;
    overflow: hidden;
}

.active-details {
    max-height: 670px;
    transition: max-height .8s;
}


.iconRotate {
    rotate: -180deg;
    transition: rotate .6s;
}






/* style css descriptions list
--> Animations */
.div-animations {
    margin: auto;
}
.li-animations {
    display: inline-block;
    height:70px;
    width: 70px;
    background-color: #F0A500;
    animation: figure linear 6s alternate infinite;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);/*indispensable profundizar esta propiedad*/
}


@keyframes figure {
    0% {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    }
    12% {
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    }
    24% {
        -webkit-clip-path: polygon(0% 0%, 49% 0, 100% 46%, 100% 47%, 42% 100%, 0 100%, 41% 50%);
        clip-path: polygon(0% 0%, 49% 0, 100% 46%, 100% 47%, 42% 100%, 0 100%, 41% 50%);
    }
    36% {
        -webkit-clip-path: polygon(0% 0%, 49% 0, 100% 46%, 100% 47%, 42% 100%, 0 100%, 41% 50%);
        clip-path: polygon(0% 0%, 49% 0, 100% 46%, 100% 47%, 42% 100%, 0 100%, 41% 50%);
    }
    48% {
        -webkit-clip-path: polygon(55% 0, 100% 0, 51% 45%, 50% 51%, 100% 100%, 48% 100%, 0 50%);
        clip-path: polygon(55% 0, 100% 0, 51% 45%, 50% 51%, 100% 100%, 48% 100%, 0 50%);
    }
    60% {
        -webkit-clip-path: polygon(55% 0, 100% 0, 51% 45%, 50% 51%, 100% 100%, 48% 100%, 0 50%);
        clip-path: polygon(55% 0, 100% 0, 51% 45%, 50% 51%, 100% 100%, 48% 100%, 0 50%);
    }
    72% {
        -webkit-clip-path: polygon(0 0, 49% 100%, 100% 0, 100% 100%, 51% 0, 0 100%, 0 51%);
        clip-path: polygon(0 0, 49% 100%, 100% 0, 100% 100%, 51% 0, 0 100%, 0 51%);
    }
    84% {
        -webkit-clip-path: polygon(0 0, 49% 100%, 100% 0, 100% 100%, 51% 0, 0 100%, 0 51%);
        clip-path: polygon(0 0, 49% 100%, 100% 0, 100% 100%, 51% 0, 0 100%, 0 51%);
    }
    96% {
        -webkit-clip-path: polygon(0 0, 51% 49%, 100% 0, 100% 100%, 51% 53%, 0 100%, 100% 48%);
        clip-path: polygon(0 0, 51% 49%, 100% 0, 100% 100%, 51% 53%, 0 100%, 100% 48%);
    }
    100% {
        -webkit-clip-path: polygon(0 0, 51% 49%, 100% 0, 100% 100%, 51% 53%, 0 100%, 100% 48%);
        clip-path: polygon(0 0, 51% 49%, 100% 0, 100% 100%, 51% 53%, 0 100%, 100% 48%);
    }
}

/* style css descriptions list
--> Transitions */
.transitions {
    display: flex;
}
.leters-spacing {
    position: relative;
    font-size: 2.5em;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    outline: 2px solid #F0A500;
    overflow: hidden;
    max-width: 0px;
    transition: max-width .5s;
    animation: pulseborder linear 1s infinite alternate;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes pulseborder {
    0% {
        box-shadow: 0px 0px 9px 2px #F0A500;
        filter: opacity(.5);
    }
    100% {
        box-shadow: 0px 0px 2px 2px #F0A500;
        filter: opacity(1);
    }
    
}

.leters {
    position: relative;
    margin: 10px;
}

.transitions:hover > .leters-spacing {
    max-width: 400px;
    transition: all .5s;
}

/* style css descriptions list
--> 3D - Animations */

.animations-3D {
  display: flex;
  perspective: 3000px;
  perspective-origin: 0px -1000px;
}

.cube {
    margin: auto;
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    animation: cube linear infinite 5s;
}

@keyframes cube {
    100% {
        transform: rotateY(360deg);
    }
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F0A500;
}

#front {
    background: linear-gradient(rgb(240, 227, 202) 5%, rgba(240, 165, 0, 1));
    transform: translateZ(75px);
    animation: front linear infinite alternate 5s;
}

@keyframes front {
    30% {
        transform: translateZ(75px);
    }
    70% {
        transform: translateZ(50px);
    }
    100% {
        transform: translateZ(50px);
    }
}

#back {
    background: linear-gradient(rgb(240, 227, 202) 5%, rgba(240, 165, 0, 1));
    transform: translateZ(-75px);
    animation: back linear infinite alternate 5s;
}

@keyframes back {
    30% {
        transform: translateZ(-75px);;
    }
    70% {
        transform: translateZ(-50px);
    }
    100% {
        transform: translateZ(-50px);
    }
}

#top {
    background-color:rgb(240, 227, 202);
    transform: translateY(-75px) rotateX(90deg);
    animation: top linear infinite alternate 5s;
}

@keyframes top {
    30% {
        transform: translateY(-75px) rotateX(90deg);
    }
    70% {
        transform: translateY(-50px) rotateX(90deg);
    }
    100% {
        transform: translateY(-50px) rotateX(90deg);
    }
}

#right {
    background: linear-gradient(rgb(240, 227, 202) 5%, rgba(240, 165, 0, 1));
    transform: translateX(75px) rotateY(90deg);
    animation: right linear infinite alternate 5s;
}

@keyframes right {
    30% {
        transform: translateX(75px) rotateY(90deg);
    }
    70% {
        transform: translateX(50px) rotateY(90deg);
    }
    100% {
        transform: translateX(50px) rotateY(90deg);
    }
}

#left {
    background: linear-gradient(rgb(240, 227, 202) 5%, rgba(240, 165, 0, 1));
    transform: translateX(-75px) rotateY(-90deg);
    animation: left linear infinite alternate 5s;
}

@keyframes left {
    30% {
        transform: translateX(-75px) rotateY(-90deg);
    }
    70% {
        transform: translateX(-50px) rotateY(-90deg);
    }
    100% {
        transform: translateX(-50px) rotateY(-90deg);
    }
}

#bottom {
    transform: translateY(75px) rotateX(90deg);
    animation: bottom linear infinite alternate 5s;
}

@keyframes bottom {
    30% {
        transform: translateY(75px) rotateX(90deg);
    }
    70% {
        transform: translateY(50px) rotateX(90deg);
    }
    100% {
        transform: translateY(50px) rotateX(90deg);
    }
}

#bottomShadow {
    background-color: #F0A500;
    transform: translateY(90px) rotateX(90deg);
    animation: bottomShadow linear infinite alternate 5s;
    box-shadow: 0px 0px 60px 30px #F0A500;
    filter: blur(4px);
}

@keyframes bottomShadow {
    30% {
        box-shadow: 0px 0px 60px 30px #F0A500;
        filter: blur(4px);
    }
    70% {
        box-shadow: 0px 0px 30px 5px #F0A500;
        filter: blur(15px);
    }
    100% {
        box-shadow: 0px 0px 30px 5px #F0A500;
        filter: blur(15px);
    }
}





